@tailwind base;
@tailwind components;
@tailwind utilities;

/* small root styles */
html,body,#root { height: 100%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
:root { --primary: #10B981; }
button.bg-primary { background: var(--primary); }
